###########################################################
# General Setup
###########################################################

### Data Path ##########################################################################################################
# Choose storage path on your machine. For all storage systems.

DATA_SAVE_PATH=~/.mhira-docker/data

### Docker compose files ###############################################################################################
# Select which docker-compose files to include.
# If using docker-sync. Set the value to: docker-compose.yml:docker-compose.dev.yml:docker-compose.sync.yml
# Change the separator from : to ; on Windows

COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=docker-compose.yml

### Docker Host IP #####################################################################################################
# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`

DOCKER_HOST_IP=10.0.75.1

########################################################################################################################

###########################################################
# Containers Customization
###########################################################

### MHIRA ##############################################################################################################

# Docker Registry container MHIRA images
REGISTRY_HOST=public.ecr.aws/a3v1m7k0

MHIRA_FRONTEND_PORT=8080
MHIRA_BACKEND_PORT=8090

# Intial password for super admin user. Default=`superadmin` if not defined
SUPERADMIN_PASSWORD=

# Set a random 32 character string used to sign JWT tokens
# eg: use output of command `openssl rand -base64 32`
JWT_SECRET=changeMe

### NGINX ##############################################################################################################

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/

### REDIS ##############################################################################################################

REDIS_PORT=6379

### POSTGRES ###########################################################################################################

POSTGRES_HOST=postgres
POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

### MONGODB ############################################################################################################

MONGODB_PORT=27017
MONGODB_CONNECTION_STRING=mongodb://mongo:27017/questionnaireDB

########################################################################################################################
